.flex-all-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn
{ 
    padding: 4px;
border-radius: 9px;
border: 3px solid rgba(255, 255, 255, 0.83);
color: aliceblue;
background-color: var(--bccolor);
cursor:pointer;
}