body{
    background-color: rgb(155, 163, 184);
}
#first {
    background-color: aqua;
}
#second
{
    color:yellowgreen;
    border: 2px solid black;
}
.red {
    background-color: yellow;
}
div{
    color: rgb(13, 10, 15);
}
/* *{
    margin: auto;
    padding: AUTO;
} */